* {
    box-sizing: border-box;
}



.photo {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

header {
    font-size: 20px;
}

body {
    font-size: 16px;
    font-style: normal;
    max-width: 1024px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: rgba(10, 8, 9, 0.829);
    background-color: rgb(216, 132, 188);
}

.name {
    text-align: center;

}


h2 {
    font-size: 30px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 600;
    line-height: 1.25;
}

.code-background {
    background-color: rgb(204, 197, 197);
}

.code {
    font-size: 17px;
    font-style: italic;
    margin-left: 24px;
}

p {
    text-align: : left;
    font-style: italic;
}